/* This file is for your main application css. */

html {
  background-color: #fff;
}

.message {
  display: none;
}

.tag.done, .tag.oh-yeah, .tag.ready-to-ship {
  background-color: #23d160;
  color: #ffffff;
}

.tag.to-do, .tag.todo {
  background-color: #3273dc;
  color: #ffffff;
}

.tag.in-progress, .tag.almost-perfect {
  background-color: #ffdd57;
  color: #000000;
}
